<footer>
  <p>
    ☕️ {{ site.title }}
  </p>
  <p>
    Lovely artwork by <a href="https://relevant.space">Dalia</a>
    &amp; bean icon by <a href="https://openlab.ncl.ac.uk/people/daniel-parry/">Daniel</a>
  </p>
</footer>
