<!DOCTYPE html>
<html>
  <head>
    <title @text="site.title"></title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <!-- @openlab/alembic inject-css -->
    <link
      rel="stylesheet"
      href="https://fonts.openlab.dev/rubik/rubik.css"
      webc:keep
    />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    {{ content | safe }}
    <!-- @openlab/alembic inject-js -->
  </body>
</html>
