<!DOCTYPE html>
<html>
  <head>
    <title @text="site.title"></title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <!-- @openlab/alembic inject-css -->
    <link
      rel="stylesheet"
      href="https://fonts.openlab.dev/rubik/rubik.css"
      webc:keep
    />
    <link rel="stylesheet" href="/css/style.css" />
    <meta property="og:title" content="{{ metaTitle or site.title }}" />
    <meta property="og:description" content="{{ metaDescription or 'It\'s bean a year to remember' }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://2024-rebrew.openlab.dev{{ page.url }}" />
    <meta property="og:image" content="https://2024-rebrew.openlab.dev/assets/img/opengraph.png" />
  </head>
  <body>
    {{ content | safe }}
    <!-- @openlab/alembic inject-js -->
    <script>
      const { searchParams } = new URL(location.href)
      if (searchParams.has('dev')) document.body.classList.add('dev')
    </script>
  </body>
</html>
