:root {
  --color: #413934;
  --background: #b3a798;
  --highlight: #c8bdb0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #b59581;
    --background: #292424;
    --highlight: #332d2d;
  }
}

.pageHeader {
  text-align: left;
}
.pageHeader h1 {
  font-size: min(max(1.5rem, 4vw), 48px);
}
.pageHeader p {
  font-size: min(max(1rem, 1.5vw), 48px);
}

.textStats {
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  /* animation-delay: 5000ms; */
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.coolStat {
  /* background: var(--cool-background);
  background-clip: text;
  color: transparent; */
  font-weight: 800;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.textStats {
  font-size: 1.3em;
}

.dayStat {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--s-2);
}

canvas {
  max-width: 100%;
}

cups-graph,
beans-graph,
hourly-graph,
nemesis-frame,
comrade-frame {
  display: block;
}

.hint {
  font-style: italic;
  font-size: 0.8em;
  opacity: 0.7;
  align-self: flex-end;
}
.hint summary:focus {
  outline: none;
}
.hint {
  padding: var(--s-3);
  border: var(--s-5) dashed var(--color);
  border-radius: var(--s-2);
}

/* TODO: move to labcoat */
figcaption {
  text-align: center;
  font-style: italic;
}
* + figcaption {
  margin-block-start: 0.5em;
}

h2 {
  text-align: center;
}

cover-layout {
  padding: 0 !important;
}

.card {
  color: var(--color);
  background-color: var(--highlight);
  padding: var(--s-1);
  border-radius: var(--s0);
}

table.captains {
  display: block;
  font-size: 1rem;
  border-spacing: 0;
  border-collapse: collapse;
}
table.captains thead th:not(:first-child) {
  padding-block-end: var(--s0);
}
table.captains th:first-child {
  position: sticky;
  left: 0;
  background: var(--background);
  padding-inline-end: var(--s0);
}
table.captains tbody td {
  padding: var(--s-1) var(--s-2);
  background: var(--highlight);
  min-width: 42px;
  text-align: center;
}
table.captains tbody td:nth-child(2) {
  padding-inline-start: 1em;
}
table.captains tbody td:last-child {
  padding-inline-end: 1em;
}
table.captains tbody tr:nth-child(1) td {
  padding-block-start: 1em;
}
table.captains tbody tr:last-child td {
  padding-block-end: 1em;
}
table.captains td.current {
  background-color: var(--color);
}
table.captains tr:first-child td:first-of-type {
  border-top-left-radius: var(--s0);
}
table.captains tr:last-child td:first-of-type {
  border-bottom-left-radius: var(--s0);
}
table.captains tr:first-child td:last-of-type {
  border-top-right-radius: var(--s0);
}
table.captains tr:last-child td:last-of-type {
  border-bottom-right-radius: var(--s0);
}

footer {
  text-align: center;
  font-style: italic;
  padding: var(--s4) var(--s0) var(--s3);
  opacity: 0.8;
}
footer a {
  font-weight: bold;
}
