:root {
  --color: #413934;
  --background: #b3a798;
  --highlight: #c8bdb0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #b59581;
    --background: #292424;
    --highlight: #332d2d;
  }
}

.pageHeader {
  text-align: left;
}
.pageHeader h1 {
  font-size: min(max(1.5rem, 4vw), 48px);
}
.pageHeader p {
  font-size: min(max(1rem, 1.5vw), 48px);
}

.textStats {
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  /* animation-delay: 5000ms; */
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.coolStat {
  /* background: var(--cool-background);
  background-clip: text;
  color: transparent; */
  font-weight: 800;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.textStats {
  font-size: 1.3em;
}

.dayStat {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--s-2);
}

canvas {
  max-width: 100%;
}

cups-graph,
beans-graph,
hourly-graph,
nemesis-frame {
  display: block;
}

.hint {
  font-style: italic;
  font-size: 0.8em;
  opacity: 0.7;
  align-self: flex-end;
}
.hint summary:focus {
  outline: none;
}
.hint {
  padding: var(--s-3);
  border: var(--s-5) dashed var(--color);
  border-radius: var(--s-2);
}

/* TODO: move to labcoat */
figcaption {
  text-align: center;
  font-style: italic;
}
* + figcaption {
  margin-block-start: 0.5em;
}

h2 {
  text-align: center;
}

cover-layout {
  padding: 0 !important;
}

.card {
  color: var(--color);
  background-color: var(--highlight);
  padding: var(--s-1);
  border-radius: var(--s0);
}
