:root {
  --color: #413934;
  --background: #b3a798;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #b59581;
    --background: #292424;
  }
}

.pageHeader {
  text-align: center;
}
.pageHeader h1 {
  font-size: 4vw;
}
.pageHeader p {
  font-size: 1.5vw;
}

.textStats {
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  /* animation-delay: 5000ms; */
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.coolStat {
  /* background: var(--cool-background);
  background-clip: text;
  color: transparent; */
  font-weight: 800;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.textStats {
  font-size: 1.3em;
}

.dayCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--s-2);
  background: var(--highlight);
  padding: var(--s-1);
  border-radius: var(--s0);
}

canvas {
  max-width: 100%;
}

cups-graph,
beans-graph {
  display: block;
  color: var(--color);
  background-color: var(--highlight);
  padding: var(--s-1);
  border-radius: var(--s0);
}
