:root {
  --color: #413934;
  --background: #b3a798;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #b59581;
    --background: #292424;
  }
}

.pageTitle {
  font-size: 4vw;
  text-align: center;
}

.headshot {
}
