:root {
  --color: #413934;
  --background: #b3a798;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #b59581;
    --background: #292424;
  }
}

.pageHeader {
  text-align: center;
}
.pageHeader h1 {
  font-size: 4vw;
}
.pageHeader p {
  font-size: 1.5vw;
}

cups-graph img {
  border-radius: 50%;
  border: var(--s-3) solid var(--color);
}
