---
layout: html.njk
pagination:
  data: beancounter.users
  size: 1
  alias: member
  resolve: values
permalink: 'share/{{ member.username | hash }}/index.html'
---

{% set totalCups = member.cups | sumRecords %}
{% set totalBeans = member.beans | sumRecords %}
{% set totalBags = member.beans.length %}
{% set costPerCup = totalBeans / 1000 * config.pricePerKilogram / totalCups %}

<main>
  <center-layout>
    <stack-layout space="s4">
      <header class="pageHeader">
        <h1>{{ site.title }}</h1>
        <p>It's <em>bean</em> a year to remember!</p>
      </header>

      <center-layout intrinsic>
        <usage-planet
          image="{{ headshots[member.username] }}"
          cups="{{ totalCups }}"
          bags="{{ totalBags }}"
        ></usage-planet>
      </center-layout>
      
      <section class="textStats flow">
        <p>
          You had <span class="coolStat">{{ totalCups | formatCups }}</span> of coffee.
          <fun-metric type="volume" value="{{ totalCups * config.cupVolume }}"></fun-metric>
        </p>
        <p>
          You bought <span class="coolStat">{{ totalBeans | formatBeans }}</span> of beans.
          <fun-metric type="weight" value="{{ totalBeans / 1000 }}"></fun-metric>
        </p>
        {% if totalBeans > 0 %}
        <p>
          On average each cup of coffee cost you 
          <span class="coolStat">{{ costPerCup | formatCost }}</span>
          <fun-metric type="cost" value="{{ costPerCup }}"></fun-metric>
        </p>
        {% endif %}
      </section>

      <pre id="data" aria-hidden="true"></pre>
    </stack-layout>
  </center-layout>
</main>

{% include 'footer.njk' %}

<script type="module" src="/js/member.js"></script>
